<app-client-nav-bar></app-client-nav-bar>
<div class="form-container">
  <div class="main-title">
    <h1>Parameter List</h1>
    
  </div>

  <div class="card">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Analyte</th>
          <th>RDL</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let analyte of parameters; let i = index">
          <td>
            <input type="checkbox"
                   [name]="'check-' + analyte.name.toLowerCase()"
                   [value]="analyte.name"
                   (change)="toggleAnalyteSelection(analyte)" />
          </td>
          <td>{{ analyte.name }}</td>
          <td>{{ analyte.rdl }}</td>
          <td>{{ analyte.unit }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="button-container">
    <button type="button" class="btn btn-secondary" (click)="navigateToPrevious()">← Previous</button>
    <button type="button" class="btn btn-primary" (click)="submitAnalytes()">Next →</button>
  </div>
</div>
