<nav class="navbar navbar-expand-lg navigation fixed-top sticky" id="navbar">
  <div class="container px-4">
    <!-- Brand / Logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" alt="Logo Dark" height="80" class="logo logo-dark" />
      <img src="assets/images/logo.png" alt="Logo Light" height="80" class="logo logo-light" />
    </a>

    <!-- Mobile toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#topnav-menu-content"
      aria-controls="topnav-menu-content"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible menu -->
    <div class="collapse navbar-collapse" id="topnav-menu-content">
      <ul class="navbar-nav me-auto" id="topnav-menu">
        
        <!-- About Us -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/igs/a-propos">{{ 'navbar.about' | translate }}</a>
        </li>
        <!-- <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle style="cursor: pointer;">
            {{ 'navbar.aboutUs' | translate }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <li><a class="dropdown-item" routerLink="/igs/a-propos">{{ 'navbar.about' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/gouvernance">{{ 'navbar.governance' | translate }}</a></li>
          </ul>
        </li> -->

        <!-- Consulting -->
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle routerLink="/igs/Consulting">
            {{ 'navbar.consulting' | translate }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <li><a class="dropdown-item" routerLink="/igs/Environmental">{{ 'navbar.processOperationAuditing' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/energy">{{ 'navbar.siteLabAuditing' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/rd">{{ 'navbar.projectStatusSpecification' | translate }}</a></li>
          </ul>
        </li>

        <!-- R&D -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/igs/rmd">{{ 'navbar.rmd' | translate }}</a>
        </li>

        <!-- Analytical Services -->
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle style="cursor: pointer;">
            {{ 'navbar.analyticalServices' | translate }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <li><a class="dropdown-item" routerLink="/igs/iso">{{ 'navbar.iso' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/Gold">{{ 'navbar.goldPMAssaying' | translate }}</a></li>
          </ul>
        </li>

        <!-- Reference -->
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle style="cursor: pointer;">
            {{ 'navbar.reference' | translate }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <li><a class="dropdown-item" routerLink="/igs/projects">{{ 'navbar.projects' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/clients">{{ 'navbar.clients' | translate }}</a></li>
          </ul>
        </li>

        <!-- Met Testing -->
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle style="cursor: pointer;">
            {{ 'navbar.metTesting' | translate }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <li><a class="dropdown-item" routerLink="/igs/preparation">{{ 'navbar.samplePreparation' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/Communition">{{ 'navbar.communitionTesting' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/Gravity">{{ 'navbar.gravityTesting' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/Gold_Testing">{{ 'navbar.goldTestingCapabilities' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/Floatation">{{ 'navbar.floatationTestingCapabilities' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/Hydromet">{{ 'navbar.hydrometTesting' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/Separation">{{ 'navbar.slSeparationTesting' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/igs/Magnetic">{{ 'navbar.magneticAndElectrostaticSeparation' | translate }}</a></li>
          </ul>
        </li>

        <!-- News -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/igs/news">{{ 'navbar.news' | translate }}</a>
        </li>

        <!-- Contact -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/igs/contact">{{ 'navbar.contactUs' | translate }}</a>
        </li>
      </ul>

      <!-- Login / User Icon -->
      <div class="ms-auto me-3">
        <ng-container *ngIf="isLoggedIn; else loginButton">
          <button class="btn user-icon-btn" (click)="navigateToDemande()" title="Go to your dashboard">
            <i class="fas fa-user-circle fa-lg"></i>
          </button>
        </ng-container>
        <ng-template #loginButton>
          <a routerLink="/account/login" class="btn login-btn">
            <i class="fas fa-sign-in-alt me-1"></i> Login
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
