<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/account/Listdemande">IGS</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!-- Centered menu -->
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/account/profile">👤 Profil</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          📩 Mes demandes
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/account/demande">➕ Nouvelle demande</a>
          <a class="dropdown-item" href="/account/Listdemande">📃 Historique</a>
          <a class="dropdown-item" href="/account/pdf" target="_blank">📄 PDF 1</a>
          <a class="dropdown-item" href="/assets/pdf" target="_blank">📄 PDF 2</a>
          
        </div>
      </li>
    </ul>

    <!-- Right-aligned logout button -->
    <form class="form-inline ml-auto">
      <button class="btn btn-outline-light my-2 my-sm-0" type="button" (click)="logout()">🔓 Déconnexion</button>
    </form>
  </div>
</nav>
